extends ./layout.pug

block body
  .container
    .header
      .pull-left
        span.glyphicon.glyphicon-flag
        span.glyphicon
        span.glyphicon
      .pull-right
        span.glyphicon.glyphicon-search
        span.glyphicon.glyphicon-user
        span.glyphicon.glyphicon-shopping-cart
      h1.text-center COMPANY

    hr.after-title
    .header.clearfix
      nav.main-nav
        ul.nav.nav-justified
          li(role='presentation')
            a(href='#') New
          li(role='presentation')
            a(href='#') Sofa&nbsp;&&nbsp;Armchairs
          li(role='presentation')
            a(href='#') Chairs
          li(role='presentation')
            a(href='#') Tables
          li(role='presentation')
            a(href='#') Storage
          li(role='presentation')
            a(href='#') Lighting
          li(role='presentation')
            a(href='#') Bedroom
          li(role='presentation')
            a(href='#') Kids
          li(role='presentation')
            a(href='#') Accessories
          li(role='presentation')
            a(href='#') Outdoor
          li(role='presentation')
            a(href='#') Last&nbsp;chance
    .jumbotron
      h3.text-center Sofas & Armchairs
      p.lead.text-center
        | Your sofa is the focal point of your living space, so make it a good looker.
    .row.marketing
      .col-lg-3.typeblock
        img(src='/images/sofa.jpg')
        a(href='#') Armchairs >
      .col-lg-3.typeblock
        img(src='/images/sofa.jpg')
        a(href='#') Armchairs >
      .col-lg-3.typeblock
        img(src='/images/sofa.jpg')
        a(href='#') Armchairs >
      .col-lg-3.typeblock
        img(src='/images/sofa.jpg')
        a(href='#') Armchairs >
    hr
    h2.text-center What's new
    .row.new-full
      .col-lg-6
        img(src='/images/sofa2.jpg')
      .col-lg-6.text-center
        p New
        h3 36 Box Fresh Arrivals
        p lorem ipsum dolor sit amet
  
    footer.footer
      p © 2015 Company, Inc.

