extends ./layout.pug

block body
  .container
    .header
      .pull-left
        span.glyphicon.glyphicon-flag
        span.glyphicon
        span.glyphicon
      .pull-right
        span.glyphicon.glyphicon-search
        span.glyphicon.glyphicon-user
        span.glyphicon.glyphicon-shopping-cart
      h1.text-center COMPANY

    hr.after-title
    .header.clearfix
      nav.main-nav
        ul.nav.nav-justified
          li(role='presentation')
            a(href='#') New
          li(role='presentation')
            a(href='#') Sofa&nbsp;&&nbsp;Armchairs
          li(role='presentation')
            a(href='#') Chairs
          li(role='presentation')
            a(href='#') Tables
          li(role='presentation')
            a(href='#') Storage
          li(role='presentation')
            a(href='#') Lighting
          li(role='presentation')
            a(href='#') Bedroom
          li(role='presentation')
            a(href='#') Kids
          li(role='presentation')
            a(href='#') Accessories
          li(role='presentation')
            a(href='#') Outdoor
          li(role='presentation')
            a(href='#') Last&nbsp;chance
    .jumbotron
      h3.text-center
        = page.get('page.title').asText()

      p.lead.text-center
        = page.get('page.description').asText()
    .row.filter-buttons
      .col-md-offset-3.col-md-6.text-center
        .btn-group
          button.btn.btn-default(type='button') by type
          button.btn.btn-default(type='button') by material

    for slice in page.get('page.body').slices
      //- Render the right markup for a given slice type.
      case slice.sliceType
        when 'featured-text'
          - var txt = slice.value.toArray()[0]
          - var link = txt.get('read-more') ? txt.get('read-more').url(ctx.linkResolver) : '#'
          - var linkLabel = txt.get('read-more-label') ? txt.get('read-more-label').asText() : ''
          .row.text-block
            .col-md-offset-2.col-md-8.text-center
              h4
                = txt.get('title').asText()
              p
                = txt.get('summary').asText()
              a(href=link)
                = linkLabel + ' >'
 
          
          
          

    footer.footer
      p © 2015 Company, Inc.

