body {
  margin-top: 20px;
}

hr.after-title {
  margin-bottom: 10px;
}

.main-nav a {
  color: black;
}

.header .glyphicon {
  padding-left: 15px;
  padding-top: 10px;
}

.container .jumbotron {
  border-radius: 0;
}

.typeblock {
  text-align: center;
  padding: 30px;
}

.typeblock img {
  width: 100%;
}

.typeblock a {
  color: black;
}

